/*

!/source/
/source/*
!/source/main.c
!/source/system_runtime.c
!/source/system_runtime.h

!/BOARD/
/BOARD/*
!/BOARD/inc/
!/BOARD/inc/*.h
!/BOARD/src/
!/BOARD/src/*.c

!/CONFIG/
/CONFIG/*
!/CONFIG/*.h

!/BSP/
!/BSP/inc/*
!/BSP/src/*

!/DEV/
!/DEV/inc/*
!/DEV/src/*

!/APP/

!/doc/
/doc/*
!/doc/*.md

!/MDK/
/MDK/*
!/MDK/gpio_output.uvprojx

!.gitignore
!.clang-format

# !/.vscode/
# /.vscode/*
# !/.vscode/c_cpp_properties.json
