/*

!/source/
/source/*
!/source/main.c

!/BSP/
!/BSP/inc/*
!/BSP/src/*

!/DEV/
!/DEV/inc/*
!/DEV/src/*

!/MDK/
/MDK/*
!/MDK/gpio_output.uvprojx
!/MDK/gpio_output.uvoptx

!.gitignore
!.clang-format

!架构分层检查报告.md
# !/.vscode/
# /.vscode/*
# !/.vscode/c_cpp_properties.json
